<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>{% block title %}{{SITE_NAME}}{% endblock %}</title>
    <meta name="description" content="A plot presentation tool for arcademic and other suitable projects.">
    <meta name="keywords" content="test, plots, charts">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
    {% block extra_head %}{% endblock %}
  </head>
  
  {% load active_page %}

  <body {% block body_tag %}{%endblock%}>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">{{SITE_NAME}}</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="{% active request "^/$" %}">              <a href="/">              <i class="icon-home icon">     </i> Home</a></li>
              {% if request.session.is_authorized %}
              <li class="{% active request "^/project/create/$" %}"><a href="/project/create/"><i class="icon-signal icon">   </i> Create Project</a></li>
              {% endif %}
              <li class="{% active request "^/about/$" %}">         <a href="/about/">         <i class="icon-info-sign icon"></i> About</a></li>
            </ul>

            {% if not request.session.is_authorized %}

            <!-- The drop down menu -->
            <ul class="nav pull-right">
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Administration <strong class="caret"></strong></a>
                <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                  <form action="/login" method="post">
                      {% csrf_token %}
                      <label class="string optional" for="id_password"> Password</label>
                      <input id="id_password" style="margin-bottom: 15px;" type="password" name="password" size="30" placeholder="Password…"/>
                      
                      <input id="id_remember_me" style="float: left; margin-right: 10px;" type="checkbox" name="remember_me" value="1" />
                      <label class="string optional" for="id_remember_me"> Remember me</label>
                     
                      <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
                    </form>
                </div>
              </li>
            </ul>
            {% else %}
              <p class="navbar-text pull-right">You are signed in as administrator</a> - <a href="/logout">Log out</a></p>
            {% endif %}
          </div><!-- /.nav-collapse -->
            
        </div><!-- /.container -->
      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar -->

    <br>

    <div class="container">
      <noscript>
        <div class="alert alert-error fade in">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <h4 class="alert-heading">Message:</h4>
          <p>To enjoy all the features of this site, please enable javascript</p>
        </div>
      </noscript> 
      {% if messages %}
        {% for message in messages %}
          <div class="alert {%if message.tags %}{{ message.tags }}{%endif%} fade in">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">Message:</h4>
            <p>{{ message }}</p>
          </div>
        {% endfor %}
      {% endif %}
      {% block content %} {% endblock %}
    </div>

    <hr>
    <div class="container">
      <footer>
        <p>Powered by <a href="https://github.com/jpihl/plotato">Plotato</a></p>
      </footer>
    </div>

    <!-- ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block scripts %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    
    <script>
      $(function() {
        // Setup drop down menu
        $('.dropdown-toggle').dropdown();
        // Fix input element click problem
        
        $('.dropdown input, .dropdown label').click(function(e) {
          e.stopPropagation();
        });
      });
      </script>
  </body>
</html>

