{% extends "base.html" %}

{% block extra_head %}
<link href="{{ STATIC_URL }}google-code-prettify/prettify.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body_tag %}
onload="prettyPrint()"
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>{{ plot.name }}<small> details</small></h1>
            </div>
            <div class="row">
                <div class="span3">
                    <div class="well">
                        <ul class="nav nav-list">
                        <li class="nav-header">
                            Actions
                        </li>
                        {% if request.session.is_authorized %}
                        <li>
                            <a href="/plot/edit/{{plot.key}}">Edit This Plot</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="/project/details/{{plot.project.key}}">Back to Project</a>
                        </li>
                    </div>
                    <h4> Plot Description </h4>
                    <p>
                    {{ plot.description }}
                    </p>
                </div>
                <div class="span9">
                        <div class="page-header">
                            <h2>The Plot</h2>
                        </div>
                        <ul class="thumbnails">
                            <li class="span6">
                              <a href="/plot/{{plot.pk}}" class="thumbnail">
                                <img src="/plot/{{plot.pk}}?{{plot.updated.microsecond}}" alt="">
                              </a>
                            </li>
                        </ul>
                </div>
                <div class="row pull-right">
                    <div class="span9">
                        <div class="page-header">
                            <h2>The Code</h2>
                        </div>
                            <pre class="prettyprint linenums" style="margin-bottom: 9px;">{% for c in plot.code.splitlines%}{{c}}
{% endfor %}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}google-code-prettify/prettify.js"></script>
{% endblock %}