{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>{{ test.name }}<small> details</small></h1>
            </div>
            <div class="row">
                <div class="span3">
                    <div class="well">
                    <ul class="nav nav-list">
                    <li class="nav-header">
                        Actions
                    </li>
                    {% if request.session.is_authorized %}
                    <li>
                    <a href="/test/edit/{{test.key}}">Edit This Test</a>
                    </li>
                    {% endif %}
                    <li>
                    <a href="/project/details/{{test.project.key}}">Back to Project</a>
                    </li>

                    </div>
                    <h4>Test Key</h4>
                    <p>
                    <span class="label label-info">
                        {{ test.key }}
                    </span>
                    </p>
                    <h4>Test Description</h4>
                    <p>
                    {{ test.description }}
                    </p>
                </div>
                <div class="span9">
                    {% if test.runs.count > 0 %}
                    <div class="page-header">
                        <h2>Runs</h2>
                        <p>The following contains the runs of test {{test.name}}.</p>
                    </div>
                    <div class = row>
                        <div class="span9">
                            <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>Run</th>
                                    <th>Date</th>
                                    <th>Data</th>
                                    {% if request.session.is_authorized %}
                                    <th>Actions</th>
                                    {% endif %}
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for run in test.runs.all %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{run.created}}</td>
                                            <td>{{run.data}}</td>
                                            {% if request.session.is_authorized %}
                                            <td><a class="btn btn-small btn-danger" href="/run/delete/{{run.key}}">Delete</a></td>
                                            {% endif %}
                                        </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
    

        










{% endblock %}
