{% extends "base.html" %}

{% block hero %}
<h1>{{ dataset.name }}</h1>
<p>
    {{ dataset.description }}
    <p > Unit: {{ dataset.unit }} <p/>
    {% if dataset.dataentries %}
        <h3>data entries:</h3>
        {% for entry in dataset.dataentries %}
            <p>{{ entry.revison }} - {{ entry.value }} - <a href='/delete_entry/{{entry.id}}'></a></p>
        {% endfor %}
    {% else %}
        <p>No entries are available.</p>
    {% endif %}
    <div align="right">
    <a class="btn-info btn-large" href='/edit/{{ dataset.key }}'>Edit dataset </a>
    </div>
</p>
{% endblock %}
    <div align="right">
        <a class="btn-danger btn-large" href='/delete/{{ dataset.key }}'>Delete dataset </a>
    </div>
{% endblock %}
