{% extends "base.html" %}

{% block content %}
{% if project %}
<form class="form-horizontal" action="/project/edit/{{ project.key }}" method="post">
{% else %}
<form class="form-horizontal" action="/project/create" method="post">
{% endif %} 
{% csrf_token %}
  <fieldset>
    {% if project %}
      <legend>Edit Project</legend>
    {% else %}
      <legend>Create New Project</legend>
    {% endif %}
    {% if errors %}
      <div class="control-group error">
    {% else %}
      <div class="control-group">
    {% endif %}
      <label class="control-label" for="id_name">Name:</label>
      <div class="controls">
        <input class="input-xlarge" id="id_name" type="text" name="name" value="{{project.name}}"/>
      </div>
    </div>
    {% if errors %}
      <div class="control-group error">
    {% else %}
      <div class="control-group">
    {% endif %}
      <label class="control-label" for="id_description">Description:</label>
      <div class="controls">
        <textarea class="input-xlarge" id="id_description" rows="3" name="description">{{project.description}}</textarea>
      </div>
    </div>
    <div class="form-actions">
        {% if project %}
        <a type="submit" class="btn btn-inverse" href="/project/details/{{project.key}}">
          Back
        </a>
        <button type="submit" value="Submit" class="btn btn-primary">
          Update
        </button> 
        <a class="btn btn-danger" data-toggle="modal" href="#are_you_sure">
          Delete
        </a>
        {% else %}
        <button type="submit" value="Submit" class="btn btn-primary">
          Create
        </button> 
        {% endif %}
    </div>
  </fieldset>
</form>
{% if project %}
<div style="display: none;" id="are_you_sure" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Are You Sure?</h3>
  </div>
  <div class="modal-body">
    <h4>Caution!</h4>
    <p>If you delete the project, all tests, runs, and plots will be removed with it.</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
    <a href="/project/delete/{{project.key}}" class="btn btn-danger">Delete</a>
  </div>
</div>
{% endif %}
{% endblock %}